
footer{

  background-color: rgba(0,0,0,0.87);
  margin-top: 16px;
}


#wrapper{

  margin bottom: 16px;
}

#menu, #main, #sidebar{
  height: 600px;
  background-color: #e9ebee;

}

#header{
height: 15px;
background-color: #4267b2;
  padding-top: 2px;

}

#header .white-text{

  color: white;
 font-size: 20px;
}
.list-heading{
  padding: 20px 15px 0px 15px;
}

.panel-title{
  color: blue;
}

#main .glyphicon{
  color: black;
  font-size: 16px;
}
.qqq /*quote post*/
  color: black;
}
.img-responsive{
  padding: 10px 2px 10px 2px ;
}

#like{
  margin-left: 70%;
}

.bmargin{
margin: 5px 5px 5px 5px;


}

#header .image-i{
margin-top: 8px;
margin-right: -8px;
}
.panale-body .glyphicon{
  margin-left: 10px;
     margin-right: 4px;

}

.image-post img{
  height: 260px;
}

.image-id img{
  height: 600px;
}

.image-radhe img{
  height: 500px;
}

#main .badge{
text-align: right;
}
#main{
  overflow: auto;
}

.nav-stacked .badge
{
  background: none;
  color: gray;
}
#header .badge{
background: red;
position: absolute;
margin-top: -7px;
margin-left: -8px;
}

#header .glyphicon{
  position: relative;
}

.comment {
  margin: 0;
}

#main .update{
  color: gray;
  margin-left: 10px;
}

#main .create{

  color: black;
}


#main .glyphicon-picture{
  color: green;
}

.small{
  color: gray;
}

.media-body
{
border-bottom: 1px solid gray;}


#sidebar{
  overflow: auto;
}

  .navbar .form-group{
    width: 500px;
  }
.tab-pane{
  color: blue;
};


/*.navbar-default .navbar-brand{
color: white;*

}
/*
#menu
  background-color: orange;
}

#main{
  background-color: pink;
}

#sidebar{
  background-color: yellow;
}*/
